.footerContainer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #666;
    align-items: center;
    width: 100%;
    position: absolute; 
    left: 0 ;
    right: 0;
    bottom: 0; 
    height: 48px;
}