.logo {
    color: blue;
    font-size: 36px;
}

.name {
    font-size: 36px;
}

.loginButtons {
    display: flex;
}

.headerWrapper {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #666666;
}